<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Bonelab Mod Manager</string>
    <key>CFBundleDisplayName</key>
    <string>Bonelab Mod Manager</string>
    <key>CFBundleIdentifier</key>
    <string>com.valentinegb.bonelab_mod_manager</string>
    <key>CFBundleVersion</key>
    <string>0.5.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>bbmm</string>
    <key>CFBundleExecutable</key>
    <string>Bonelab Mod Manager</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleIconName</key>
    <string>AppIcon</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.utilities</string>
</dict>
</plist>
